.husky
dist
.next
.cache
package-lock.json
pnpm-lock.yaml
public
node_modules
next-env.d.ts
next.config.mjs
package.json
postcss.config.js
tailwind.config.ts
tsconfig.json
components.json
.lintstagedrc.js
.vercel