.checkBox:checked + span {
  animation: check-bounce 250ms;

  @apply border-[1rem] border-primary;
}

.checkBox:checked + span::before {
  @apply absolute left-2 top-2 content-[""];

  animation: checked 125ms 250ms forwards;
  border-bottom: 4px solid transparent;
  border-right: 4px solid transparent;
  transform: rotate(45deg);
  transform-origin: 0% 100%;
}

input[name="advertising"]:checked + span,
input[name="preferences"]:checked + span,
input[name="analytics"]:checked + span,
input[name="necessary"]:checked + span {
  animation: check-bounce 250ms;

  @apply border-[1rem] border-primary-foreground;
}

input[name="advertising"]:checked + span::before,
input[name="preferences"]:checked + span::before,
input[name="analytics"]:checked + span::before,
input[name="necessary"]:checked + span::before {
  @apply absolute left-[-0.5rem] top-[-0.4rem] content-[""];

  animation: checked-cookie 125ms 250ms forwards;
  border-bottom: 4px solid transparent;
  border-right: 4px solid transparent;
  transform: rotate(45deg);
  transform-origin: 0% 100%;
}

div[data-state="active"][id="consentTab"],
div[data-state="active"][id="detailsTab"],
div[data-state="active"][id="aboutTab"] {
  @apply flex max-h-[auto] min-h-[20vh] w-full flex-1 flex-col overflow-y-auto overflow-x-hidden border-b-2 border-b-border;
}

div[data-state="inactive"][id="consentTab"],
div[data-state="inactive"][id="detailsTab"],
div[data-state="inactive"][id="aboutTab"] {
  @apply box-border h-auto w-full overflow-auto align-baseline;
}

div[id="consentTab"],
div[id="detailsTab"],
div[id="aboutTab"] {
  @apply overflow-auto bg-[transparent] align-baseline;
}

@keyframes checked-cookie {
  0% {
    height: 0;
    transform: translate(0, 0) rotate(45deg);
    width: 0;

    @apply border-foreground;
  }

  33% {
    height: 0;
    transform: translate(0, 0) rotate(45deg);
    width: 8px;

    @apply border-foreground;
  }

  100% {
    height: 16px;
    transform: translate(0, -8px) rotate(45deg);
    width: 8px;

    @apply border-foreground;
  }
}

@keyframes checked {
  0% {
    height: 0;
    transform: translate(0, 0) rotate(45deg);
    width: 0;

    @apply border-white;
  }

  33% {
    height: 0;
    transform: translate(0, 0) rotate(45deg);
    width: 8px;

    @apply border-white;
  }

  100% {
    height: 16px;
    transform: translate(0, -8px) rotate(45deg);
    width: 8px;

    @apply border-white;
  }
}

@keyframes check-bounce {
  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(1);
  }
}

header.scrolled {
  height: var(--header-height-scrolled);

  @apply border-border;
  @apply bg-background;
}

.menuBtn {
  --size: 1.5rem;
  --duration: 250ms;

  position: relative;
  transform: rotate(0deg);
  transition: var(--duration) * 2 ease-in-out;
}

.menuBtn > span {
  display: block;
  height: calc(var(--size) / 4);
  left: 0;
  opacity: 1;
  position: absolute;
  transform: rotate(0deg);
  transition: var(--duration) ease-in-out;
  width: var(--size);

  @apply bg-foreground;
}

.menuBtn span:nth-child(1) {
  top: 0;
}

.menuBtn span:nth-child(2) {
  top: calc(var(--size) / 4 + var(--size) / 8);
}

.menuBtn span:nth-child(3) {
  top: calc(var(--size) / 2 + var(--size) / 4);
}

.menuBtn.opened span:nth-child(1) {
  top: calc(var(--size) / 4 + var(--size) / 8);
  transform: rotate(135deg);
}

.menuBtn.opened span:nth-child(2) {
  left: -60px;
  opacity: 0;
}

.menuBtn.opened span:nth-child(3) {
  top: calc(var(--size) / 4 + var(--size) / 8);
  transform: rotate(-135deg);
}

span.special {
  @apply bg-gradient-to-b from-foreground/40 to-foreground bg-clip-text text-transparent;
}

.sidebarMenu {
  transform: translateX(calc(80 / (1+exp(-(--sidebar-menu-end-x - --sidebar-menu-start-x - 160)))));
}
